<h3 class="p1">
  Here Is What Our ProGrads Want To Say
</h3>

<div class="main-container">
  <h4>
    <span class="sp1">PRAVESH, FSD0A0221</span>
    <p class="para">
      In my academics, I learnt only theoretical concepts of programming but ProGrad emphasized my coding
      <br>
      knowledge by teaching me a different approach in solving all the coding problems, My mentor offered
      <br>
      excellent support by guiding us on each step to improve my progress.
    </p>
    <span class="sp2">ROBIN HOODA, FSD0B0001</span>
    <p class="para1">
      ProGrad not only helped me in utilizing my knowledge to the best of my capabilities but also nurtured my
      <br>
      technical skills and competencies.
    </p>
  </h4>
</div>
