<div class="grid-container">
  <div class="grid-item">
    <img class="pic" src="../../assets/f1.jpg"/>
    <h1 class="h1">Hear It From our <br/> ProGrads</h1>
    <p class="p1">
      Being a ProGrad is a life-time experience,in the past,<br/>
      we have several times tried showing the world what <br/>
      is to be a ProGrad,but we soon realised that no one <br/>
      can better describe this journey than our ProGrads <br/>
      themselves. </p>
     <p class="p2">
       So here we are with a mission to let the world hear <br/>
       it from our ProGrads!
     </p>
     <p class="p3">
       #ProudProGrads #YourDreamOurMission
     </p>
  </div>
</div>
